.btn {
  //border-radius: 4px;
  border: 1px solid transparent;

  //border-radius: 4px;
  //padding: 15px 40px;
  color: var(--light-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &--stroke {
    border: 1px solid var(--light-color);
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;


    &:hover {
      background-color: var(--light-color);
      color: var(--gray-color);
    }
    &:active {
      background-color: var(--light-color);
      color: var(--gray-color);
    }
    &:focus {
      background-color: var(--light-color);
      color: var(--gray-color);
    }
  }

  &--gray {


    background-color: var(--text-light-color);
    transition: background-color 0.3s ease-in-out;


    &:hover {
      background-color: var( --green-color);
    }
    &:active {
      background-color: var( --green-color);
    }
    &:focus {
      background-color: var( --green-color);
    }
  }
  &--primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    @include for-hover {
      &:hover {
        border-color: var(--primary-color-hover);
        background-color: var(--primary-color-hover);
      }
    }
    &:active {
      background-color: var(--primary-color-hover);
    }
    &:focus {
      background-color: var(--primary-color-hover);
    }
  }

  &--order {
    border-radius: 4px;
    padding: 4px 39px;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--order-color);
    transition: background-color 0.3s ease-in-out;

    &:hover {

      background-color: var(--order-color-hover);
    }
    &:active {
      border-color: var(--primary-color-hover);
      background-color: var(--order-color-hover);
    }
    &:focus {
      background-color: var(--order-color-hover);
    }

  }
}
.add-plus {

&__input {

  padding: 0;
margin: 0;
border: 0;
border: none;
width: 55px;
  background-color: inherit;
  color: var(--light-color);
  font-size: 20px;
  text-align: center;



}
  &__btn {

    border: none;
    border-radius: 8px;
    padding: 7px 6px;
    background-color: var(--order-color);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #2d4f8f
    }
  }

  &__svg {
    display: flex;
    align-items: center;

    svg {
      fill: white;
    }

  }
  &__quantity {
    display: flex;
    align-items: center;
    padding: 0 3px;
    font-size: 20px;
    color: var(--light-color)
  }



  &--visibility {
    opacity: 1;
  }
}
input {
  &:focus-visible {
    //outline-offset: unset !important;
    outline: none !important;
  }
}
.button {
  border: 1px solid transparent;
  color: var(--light-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

