.footer {
  background-color: var(--dark-color);

  &__content {
    @include flex-column-center;
    padding: 50px 0;
  }

  &__social {
    @include flex-v-center;
  }

  &__image {
    svg {
      width: 30px;
      height: 30px;
      fill: var( --light-color);
      transition: fill 0.3s ease-in-out;


      &:hover {
        fill: var(--green-color);
      }
    }
    &:not(:last-child) {
      padding-right: 30px;
    }
  }
  &__title {
    font: var(--regular-lato);

    line-height: 150%;
    color: var( --light-color);

  }
  &__subtitle {
    font: var(--regular-lato);
    //font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var( --light-color);

  }
  &__info {
    font: var(--middle-regular-gabriola);
    color: var(--light-color);
  }
}
