.reservation {
  padding-top: 100px;
  background-color: var(--light-color);

  @include mobile {
    margin-top: -60px;
  }

  &__container {
@include flex-column-center;
}
  &__content {
    padding-bottom: 60px;
    width: 70%;

    @include big-desktop {
      padding-bottom: 40px;
      width: 80%;
    }

    @include small-tablet {
      margin-top: -50px;
      width: 100%;
    }


  }
}
.reservation-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid var(--gray-light-color);
  padding-bottom: 60px;

  @include small-tablet {
    border-style: none;
    padding-bottom: 30px;
  }


  &__btn {
    grid-column: 4 / 1 span; //начинается со 4 колонки / занимает 1 колонки
    border-radius: 0 5px 5px 0 ;
    padding: 0 100px;
    font: var(--regular-lato);

    @include old-desktop {

      border-radius: 5px;
      padding: 10px 100px;
    }
    @include mobile {
      grid-column: 4 span;
    }
  }
}
.reservation-form-field {
  margin: 0;
  padding: 0;
  grid-column: 1 span;

  @include old-desktop {
    grid-column: 12 span;
    &:not(:last-child) {
      padding-bottom: 20px;
    }

  }

&__select {
    margin-right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-light-color);
    padding: 20px 45px;
    width: 100%;
    font: var(--regular-lato);
    text-align: start;
    color: var(--gray-light-color);
    background-position: 10px 50%;
    background-repeat: no-repeat;

    &--data {
      border-radius: 5px 0 0 5px;
      border-right: 0;
      background-image: url("../img/data.png");


}
    &--people {
      background-image: url("../img/people.png");
      border-right: 0;
}

    &--hour {
      border-right: 0;
      background-image: url("../img/hour.png");
    }

    @include old-desktop {
      border: 1px solid var(--gray-light-color);
      //border-right: 1px solid var(--gray-light-color);
      border-radius: 5px;
      //background-image: url("../img/hour.png");
    }

    }


}
.reservation-explain {
  margin-top: 60px;
  font: var(--regular-lato);

  text-align: center;
  color: var(--text-light-color);

  @include tablet {
    margin-top: 10px;
    font-size: 20px;
  }
}
.reservation-flower {
  @include flex-column-center;
}

