.header-menu {
  margin: 0;
  background-color: var(--gray-color);
}
.header-menu-nav {
  padding-top: 86px;
  display: flex;
  justify-content: center;
  background-color: transparent;


  &__item {

    a {
      font: var(--regular-lato);
      font-size: 25px;
      text-transform: capitalize;
      color: var(--light-color);
      transition: color 0.3s ease-in-out;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include small-tablet {
        margin-right: 0;
      }
    }


  }
  &__list {
    @include flex-all-center;

    @include small-tablet {
      flex-direction: column;
    }
  }
}
.header-menu-nav--bottom {
  margin-bottom: 46px;
}



