.header-menu {
  margin: 0;
  background-color: var(--gray-color);
}
.header-menu-nav {
  padding-top: 86px;
  display: flex;
  justify-content: center;
  background-color: transparent;


  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__list {
    @include flex-all-center;

    @include small-tablet {
      flex-direction: column;
    }
  }
}
.header-menu-nav--bottom {
  margin-bottom: 46px;
}



