.hero {
  position: relative;
  width: 100%;
  margin-top: -130px;
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;


&__nav {

    @include flex-all-sb;
    position: relative;

    @include mobile {
      display: none;
    }

&--right {
      position: absolute;
      right: 0;
      z-index: 2000;
      top: -200px;
      width: 32px;
      height: 38px;
      opacity: 0.7;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;

      @include tablet {
        top: -100px;
      }


      &:hover {
        opacity: 1;
      }
}
    &--left {
      position: absolute;
      z-index: 2000;
      top: -200px;
      width: 32px;
      height: 38px;
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;

      @include tablet {
        top: -100px;
      }

      &:hover {
        opacity: 1;
      }


    }
  }
}
