.menu {
  margin: 0;
  padding-top: 70px;
  background-color: var(--gray-color);

&__container {
  display: flex;
  flex-direction: column;

}
&__title {
  font: var(--regular-lato);
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  line-height: 140%;
  text-align: center;
  color: var(--light-color);

  @include tablet {
    margin-bottom: 50px;
  }

  @include small-tablet {
    margin-bottom: 30px;
    font-size: 20px;
  }
  }
 &__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 100px;
  letter-spacing: 1px;
  padding-bottom: 65px;
  align-items: center;

  @include big-desktop {
    gap: 50px;
  }
  @include tablet {
    gap: 25px;
  }

  @include small-tablet {

    gap: 15px;
    padding-bottom: 40px;
  }

}


}
.menu-content-image {
  position: relative;
  grid-column: 6 span;

  img {
    width: 100%;
  }

  @include small-tablet {
    grid-column: 2 /10 span;
  }
  @include mobile {
    grid-column: 12 span;
  }
}
.menu-content-text {
  position: relative;
  grid-column: 6 span;

  &__value {
    font-family: var(--font-family-lato);
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: var(--light-color);

    @include tablet {
      font-size: 24px;
    }
    @include small-tablet {
      font-size: 20px;
    }
  }

  @include small-tablet {
    grid-column: 2 /10 span;
  }
  @include mobile {
    grid-column: 12 span;
  }


  @include flex-column-center;

  &__title {
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      font-family: var(--font-family-lato);
      font-weight: 700;
      font-size: 32px;
      line-height: 140%;
      color: var(--light-color);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--text-light-color);


      }
      @include tablet {
        font-size: 24px;
      }
      @include small-tablet {
        font-size: 20px;
      }

    }
}
  &__components {
    max-width: 470px;

    p {
      font-family: var(--regular-lato);
      color: var(--light-color);
      text-align: center;
      font-size: 22px;

      @include tablet {
        margin: 8px 0;
        padding: 0;
        font-size: 18px;
      }
    }
    @include old-desktop {
      max-width: 400px;
    }
}

  &__weight {
    margin-bottom: 20px;
    font: var(--regular-lato);
    text-align: center;
    font-size: 22px;
    line-height: 180%;
    color: var(--light-color);

    @include tablet {
      margin-bottom: 4px;
      font-size: 18px;
    }
  }
  &__calories {
    font: var(--regular-lato);
    text-align: center;
    font-size: 22px;
    line-height: 180%;
    color: var(--light-color);

    @include tablet {
      font-size: 18px;
    }
  }
  &__btn {
    font: var(--regular-lato);
    text-align: center;
   }
}
.menu-block-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.menu__btn {
  width: 200px;
  margin-bottom: 30px;

}
.add-plus--none {
  display: none;
}
.add-plus--active {
  grid-column: 6 / 2 span;
  display: flex;
}
.btn-order--none {
  display: none;
}


