.nav {
  background-color:  var(--gray-light-color);

  &__list {
    padding: 10px 40px;
    @include flex-v-center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 140px;
    }
  }
    &__link {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--light-color);
      transition: color 0.3s ease-in-out;


        &:hover {
          color: var( --text-light-color);

      }
      &:focus {
        color: var(--primary-color-hover);
      }
      &:active {
        color: var(--primary-color-hover);
      }

    }

}
