.quote {
  width: 100%;
  min-height: 400px;
  background: url("../img/calling.jpg");
  background-size: cover;
  background-repeat: no-repeat;



  &__container {
    @include flex-column-start;
    position: relative;
    height: 100%;

    @include tablet {
      justify-content: center;
      align-items: center;
    }
  }


  &--first {
    background: url("../img/quote-first.jpg");
  }
  &--second {
    background: url("../img/quote-second.jpg");
  }

  &__content {
    margin: 20% 0;
    //margin-top: 20%;
    padding: 25px 25px;
    width: 70%;
    background-color:  var(--gray-light-color);

    @include tablet {
      margin-top: 8% auto;
      padding: 5px 5px;
      width: 95%;
    }

    &--second {
      background-color: var(--blue-light-color);
    }

  }

  &__text {
    font: var(--middle-regular-gabriola);
    font-size: 45px;
    line-height: 150%;
    color: var(--light-color);

    @include tablet {
      font-size: 30px;
    }
  }
  &__autor {
    font: var(--regular-lato);
    font-size: 30px;
    text-align: end;
    text-transform: uppercase;
    color: var(--primary-color);

    @include tablet {
      font-size: 20px;
    }
  }
}

