.swiper {
  width: 100%;


}



.swiper-slide  {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    height: 700px;
  }
  @include small-tablet {
    height: 600px;
  }

  &__content {
    margin-top: 160px;
    @include small-tablet {
      margin-top: 0;

    }

    @include flex-column-center;
}
    &__title {
      font: var(--bold-lato);
      letter-spacing: 5px;
      //font-weight: 700;
      font-size: 65px;
      text-transform: uppercase;
      color: var(--light-color);

      @include big-desktop {
        font-size: 55px;
      }
      @include tablet {
        font-size: 55px;
      }

    }
    &__subtitle {
      font: var(--regular-lato);
      color: var(--light-color);

      @include tablet {
        font-size: 20px;
      }
    }
    &__decor {
      width: 80%;
    }




}
.swiper-slide__logo {
  width: 100%;

  img {

    width:490px;
    height: 100%;

    @include mobile {
      width: 400px;
      height: auto;
    }
  }
}




