.menu {
  margin: 0;
  padding-top: 70px;
  background-color: var(--gray-color);

&__container {
  display: flex;
  flex-direction: column;

}

@include tablet {
  padding-top: 40px;
}
@include small-tablet {
  padding-top: 20px;
}
}
.product {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 50px;
  letter-spacing: 1px;
  padding-bottom: 65px;
  align-items: center;

  @include small-tablet {
    grid-template-columns: repeat(4, 1fr);
  }

}
.woocommerce-LoopProduct-link {
  grid-column: 6 span;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 300px;
    height: 300px;
  }
}
.product_type_simple {
  grid-column: 6 span;
}
.mini-card-content {
  //position: absolute;
  //display: none;
}
.site-header-cart:hover .mini-card-content {
display: block;
}
.widget_shopping_cart {
  //display: none;
  width: 100px;
  height: 100px;
  background-color: red;
}
.modal-login-overlay--visible {

  z-index: 10000;
}

.resp-tab-content {
//display: none;


}
.modal-content {

  height: auto;
}

.resp-accordion {
opacity: 0;
font-family: var(--regular-lato);
color: var(--dark-color);
font-weight: 700;
}
.resp-tab-active {
opacity: 1;

}
.quantity {
display: flex;
opacity: .9;
}
.quantity input {

  text-align: center;
}
.quantity .plus{
background-color: var(--order-color);

}
.quantity .minus{
background-color: var(--order-color);

}
.plus, .minus {

border: none;
  border-radius: 8px;
  padding: 7px 6px;
  background-color: var(--order-color);
  transition: background-color 0.3s ease-in-out;






}
