:root {
  --light-color: #fff;
  --gray-color: rgba(36, 50, 55, 1);
  --gray-light-color: rgba(56, 60, 56, 0.76);
  --primary-color: rgba(250, 60, 60, 1);
  --primary-color-hover: rgba(204, 51, 51, 1);
  --text-light-color: rgb(105, 105, 105);
  --blue-light-color: rgba(136, 191, 205, 0.77);
  --green-color: rgb(60, 179, 113);
  --dark-color: rgb(27, 29, 27);
  --order-color: rgb(0, 123, 255);
  --order-color-hover: rgb(7, 96, 192);
  --font-family: "Ubuntu", sans-serif;
  --font-family-lato: "Lato";
  --font-family-gabriola: "Gabriola", sans-serif;
  --middle-regular-gabriola: 400 30px / 140% var(--font-family-gabriola);
  --regular-ubuntu: 400 22px / 160% var(--font-family);
  --regular-lato: 400 24px / 140% var(--font-family-lato);
  --bold-lato: 700 24px / 140% var(--font-family-lato);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/../fonts/Ubuntu-MediumItalic.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gabriola";
  src: url("../fonts/../fonts/Gabriola.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, --font-family-gabriola, --font-family-lato, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.body {
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1560px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.flower {
  width: 60px;
  height: 60px;
  background: url("../img/flower.png") no-repeat;
  background-position: center;
}

.header {
  position: relative;
  z-index: 100;
  padding-top: 20px;
  background: transparent;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 50px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-gray-light);
  }
}
.header__nav--active {
  display: block;
}
.header__nav--active .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.header--secondary {
  background-color: var(--gray-color);
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header-logo {
    display: none;
  }
}
.header-logo__title {
  font: var(--bold-lato);
  font-size: 65px;
  line-height: 0;
  text-transform: uppercase;
  color: var(--light-color);
}
@media (max-width: 1440px) {
  .header-logo__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header-logo__title {
    font-size: 30px;
  }
}
.header-logo__subtitle {
  font: var(--regular-ubuntu);
  color: var(--light-color);
}
@media (max-width: 768px) {
  .header-logo__subtitle {
    font-size: 15px;
  }
}

.nav {
  background-color: var(--gray-light-color);
}
.nav__list {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 140px;
}
@media (max-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 80px;
  }
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin: 0;
    padding: 20px 0;
  }
}
.nav__link {
  font: var(--regular-lato);
  text-transform: capitalize;
  font-size: 20px;
  color: var(--light-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 25px;
  }
}
.nav__link:focus {
  color: var(--primary-color-hover);
}
.nav__link:hover {
  color: var(--text-light-color);
}
.nav__link:active {
  color: var(--primary-color-hover);
}

.burger-wrap {
  display: none;
}
@media (max-width: 1024px) {
  .burger-wrap {
    display: block;
    border-radius: 5px;
    padding: 7px;
    background-color: var(--gray-light-color);
  }
}

.burger-wrap--close {
  border: none;
  padding: 0;
  background-color: transparent;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  --burger-width: 44px;
  --burger-height: 30px;
  --burger-line-height: 3px;
  z-index: 2000;
  display: none;
  color: var(--light-color);
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}
.burger__line {
  height: 4px;
  border-radius: 2px;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero {
  position: relative;
  top: -184px;
  width: 100%;
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-top: -40%;
}
@media (max-width: 1440px) {
  .hero__content {
    margin-top: -35%;
  }
}
@media (max-width: 768px) {
  .hero__content {
    width: 100%;
    margin-top: -52%;
  }
}
@media (max-width: 576px) {
  .hero__content {
    margin-top: -280px;
  }
}
.hero__logo {
  width: 36%;
  height: auto;
}
@media (max-width: 1440px) {
  .hero__logo {
    width: 35%;
  }
}
@media (max-width: 1240px) {
  .hero__logo {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .hero__logo {
    width: 50%;
  }
}
.hero__decor {
  width: 28%;
  height: auto;
}
@media (max-width: 1024px) {
  .hero__decor {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .hero__decor {
    width: 40%;
  }
}
.hero__title {
  font: var(--bold-lato);
  font-size: 65px;
  text-transform: uppercase;
  color: var(--light-color);
}
@media (max-width: 1440px) {
  .hero__title {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .hero__subtitle {
    font-size: 20px;
  }
}
.hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.hero__nav--right {
  position: absolute;
  right: 0;
  z-index: 5000;
  top: -200px;
  width: 32px;
  height: 38px;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hero__nav--right {
    top: -100px;
  }
}
.hero__nav--right:hover {
  opacity: 1;
}
.hero__nav--left {
  position: absolute;
  z-index: 5000;
  top: -200px;
  width: 32px;
  height: 38px;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .hero__nav--left {
    top: -100px;
  }
}
.hero__nav--left:hover {
  opacity: 1;
}

.reservation {
  background-color: var(--light-color);
}
.reservation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reservation__content {
  padding-bottom: 60px;
  width: 70%;
}
@media (max-width: 1440px) {
  .reservation__content {
    padding-bottom: 40px;
    width: 80%;
  }
}

.reservation-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid var(--gray-light-color);
  padding-bottom: 60px;
}
.reservation-form__btn {
  border-radius: 0 5px 5px 0;
  padding: 0 100px;
  font: var(--regular-ubuntu);
}
@media (max-width: 1024px) {
  .reservation-form__btn {
    border-radius: 5px;
    padding: 10px 100px;
  }
}

.reservation-form-field {
  margin: 0;
  padding: 0;
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}
@media (max-width: 1024px) {
  .reservation-form-field {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
  .reservation-form-field:not(:last-child) {
    padding-bottom: 20px;
  }
}
.reservation-form-field__select {
  margin-right: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-light-color);
  padding: 20px 45px;
  width: 100%;
  font: var(--regular-ubuntu);
  text-align: start;
  color: var(--gray-light-color);
  background-position: 10px 50%;
  background-repeat: no-repeat;
}
.reservation-form-field__select--data {
  border-radius: 5px 0 0 5px;
  border-right: 0;
  background-image: url("../img/data.png");
}
.reservation-form-field__select--people {
  background-image: url("../img/people.png");
  border-right: 0;
}
.reservation-form-field__select--hour {
  border-right: 0;
  background-image: url("../img/hour.png");
}
@media (max-width: 1024px) {
  .reservation-form-field__select {
    border: 1px solid var(--gray-light-color);
    border-radius: 5px;
  }
}

.reservation-explain {
  margin-top: 60px;
  font: var(--regular-ubuntu);
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: var(--text-light-color);
}

.reservation-flower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background: url("../img/calling.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.calling__container {
  position: relative;
  height: 100%;
}
.calling__title {
  margin: 45% auto;
  font: var(--bold-lato);
  font-size: 64px;
  letter-spacing: 20px;
  padding: 20px 100px;
  color: var(--light-color);
  background-color: var(--blue-light-color);
}

.info__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 90px 0;
}
.info__image {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}
.info__image--first {
  background: url("../img/first.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.info__image--second {
  background: url("../img/second.jpg");
  background-position: right;
  background-repeat: no-repeat;
}
.info__image--third {
  grid-row: 1/1 span;
  background: url("../img/third.png");
  background-position: left;
  background-repeat: no-repeat;
}
.info__image--fourth {
  background: url("../img/fourth.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

.info-text {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info-text__pretitle {
  font: var(--middle-regular-gabriola);
  font-size: 28px;
  color: var(--text-light-color);
}
.info-text__title {
  font: var(--regular-lato);
  font-size: 32px;
  line-height: 150%;
  color: var(--primary-color);
}
.info-text__descr {
  font-size: 24px;
  line-height: 40px;
  color: var(--text-light-color);
}
.info-text__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.info-text--third {
  grid-column: 2/1 span;
}

.quote {
  width: 100%;
  height: 800px;
  background: url("../img/calling.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.quote__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  height: 100%;
}
.quote--first {
  background: url("../img/quote-first.jpg");
}
.quote--second {
  background: url("../img/quote-second.jpg");
}
.quote__content {
  margin-top: 20%;
  padding: 25px 25px;
  width: 70%;
  background-color: var(--gray-light-color);
}
.quote__content--second {
  background-color: var(--blue-light-color);
}
.quote__text {
  font: var(--middle-regular-gabriola);
  font-size: 45px;
  line-height: 150%;
  color: var(--light-color);
}
.quote__autor {
  font: var(--regular-lato);
  font-size: 30px;
  text-align: end;
  text-transform: uppercase;
  color: var(--primary-color);
}

.address-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0;
}
.address-block__title {
  margin: 0;
  font: var(--regular-lato);
  font-size: 28px;
  line-height: 70px;
  color: var(--text-light-color);
}
.address-block__address {
  font: var(--regular-ubuntu);
  font-size: 20px;
  color: var(--text-light-color);
}
.address-block__phone {
  font: var(--regular-ubuntu);
  font-size: 20px;
  line-height: 70px;
  color: var(--text-light-color);
}
.address-block__mail {
  font: var(--regular-ubuntu);
  font-size: 20px;
  line-height: 70px;
  color: var(--text-light-color);
}
.address-block__btn {
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px 30px;
  font: var(--regular-ubuntu);
}

.header-menu {
  margin: 0;
  background-color: var(--gray-color);
}

.header-menu-nav {
  padding-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}
.header-menu-nav__item:not(:last-child) {
  margin-right: 40px;
}
.header-menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu-nav--bottom {
  margin-bottom: 46px;
}

.menu {
  margin: 0;
  padding-top: 70px;
  background-color: var(--gray-color);
}
.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu__title {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  text-align: center;
  font-size: 32px;
  color: var(--light-color);
}
.menu__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-bottom: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-content-text__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  color: var(--light-color);
}
.menu-content-text__components {
  font-weight: 400;
  font-size: 22px;
  color: var(--light-color);
}
.menu-content-text__value {
  font-weight: 400;
}
.menu-content-text__weight {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  color: var(--light-color);
}
.menu-content-text__calories {
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  color: var(--light-color);
}
.menu-content-text__btn {
  margin-top: 20px;
}

.menu-block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__btn {
  width: 200px;
  margin-bottom: 30px;
}

.menu-dop {
  padding-bottom: 46px;
  background-color: var(--gray-color);
}
.menu-dop__header {
  padding-bottom: 46px;
}
.menu-dop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px;
  color: var(--light-color);
}
.menu-dop__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}
.menu-dop__name {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 22px;
}
.menu-dop__quantity {
  position: relative;
  padding: 0 20px;
  font-size: 22px;
}
.menu-dop__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.menu-dop__icon::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 9px;
  border-radius: 100px;
  width: 2px;
  height: 20px;
  background-color: var(--light-color);
}
.menu-dop__icon::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  border-radius: 100px;
  width: 20px;
  height: 2px;
  background-color: var(--light-color);
}
.menu-dop__icon--minus {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.menu-dop__icon--minus::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: 100px;
  width: 20px;
  height: 2px;
  background-color: var(--light-color);
}
.menu-dop__value {
  font-weight: 400;
  font-size: 22px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .swiper-slide img {
    height: 500px;
  }
}

.footer {
  background-color: var(--dark-color);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__image svg {
  width: 30px;
  height: 30px;
  fill: var(--light-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.footer__image svg:hover {
  fill: var(--green-color);
}
.footer__image:not(:last-child) {
  padding-right: 30px;
}
.footer__title {
  font: var(--regular-lato);
  line-height: 150%;
  color: var(--light-color);
}
.footer__subtitle {
  font: var(--regular-lato);
  font-size: 22px;
  line-height: 150%;
  color: var(--light-color);
}
.footer__info {
  font: var(--middle-regular-gabriola);
  color: var(--light-color);
}

.btn {
  border: 1px solid transparent;
  color: var(--light-color);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.btn--stroke {
  border: 1px solid var(--light-color);
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn--stroke:hover {
  background-color: var(--light-color);
  color: var(--gray-color);
}
.btn--stroke:active {
  background-color: var(--light-color);
  color: var(--gray-color);
}
.btn--stroke:focus {
  background-color: var(--light-color);
  color: var(--gray-color);
}
.btn--gray {
  background-color: var(--text-light-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn--gray:hover {
  background-color: var(--green-color);
}
.btn--gray:active {
  background-color: var(--green-color);
}
.btn--gray:focus {
  background-color: var(--green-color);
}
.btn--primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}
.btn--primary:hover {
  border-color: var(--primary-color-hover);
  background-color: var(--primary-color-hover);
}
.btn--primary:active {
  background-color: var(--primary-color-hover);
}
.btn--primary:focus {
  background-color: var(--primary-color-hover);
}
.btn--order {
  border-radius: 4px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--order-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn--order:hover {
  background-color: var(--order-color-hover);
}
.btn--order:active {
  border-color: var(--primary-color-hover);
  background-color: var(--order-color-hover);
}
.btn--order:focus {
  background-color: var(--order-color-hover);
}

.add-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}
.add-plus__btn {
  border: none;
  border-radius: 8px;
  padding: 5px 6px;
  background-color: #3d67b7;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.add-plus__btn:hover {
  background-color: #2d4f8f;
}
.add-plus__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.add-plus__svg svg {
  fill: white;
}
.add-plus__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 3px;
  font-size: 16px;
}
.add-plus--visibility {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */