<section class="address-block">
  <div class="container">
    <div class="address-block__content">
      <h2 class="title address-block__title">Our address</h2>
      <address class="address-block__address">Moscow A.Berzarina str. building 6</address>
      <span class="address-block__phone">(510) 647-9525</span>
      <div class="address-block__mail">info@lamarchaberkeley.com</div>
      <a href="" class="address-block__btn btn btn--gray btn-reset wow animate__pulse" data-wow-offset="200">reserve</a>

    </div>
    <!--<a class="arrow-up" href="#top">
      <svg class="animate__animated animate__fadeInUp animate__infinite animate__slower wow" data-wow-offset="200">
            <use xlink:href="img/sprite.svg#to-top"></use>
          </svg>
        </a>-->
  </div>
</section>

