<section class="reservation">
  <div class="container reservation__container">

    <div class="reservation__content">
      <form action="#" class="reservation-form">
        <label class="reservation-form-field">
          <select class="reservation-form-field__select reservation-form-field--data">
            <option class="reservation-form-field__option">July 11</option>
            <option>3 people</option>
            <option>4 people</option>
            <option>5 people</option>
          </select>
        </label>
        <label class="reservation-form-field">
          <select class="reservation-form-field__select reservation-form-field--hour">
            <option class="reservation-form-field__option">20.00</option>
            <option>3 people</option>
            <option>4 people</option>
            <option>5 people</option>
          </select>
        </label>

        <label class="reservation-form-field">
          <select class="reservation-form-field__select reservation-form-field--people">
            <option class="reservation-form-field__option">2 people</option>
            <option>3 people</option>
            <option>4 people</option>
            <option>5 people</option>
          </select>
        </label>
        <button class="reservation-form__btn btn btn--primary">order</button>

      </form>
      <p class="reservation-explain">Due to&nbsp;the limited amount of&nbsp;tables in&nbsp;our restaurant, we&nbsp;cannot guarantee a&nbsp;private table.<br />
        Some reservations will be&nbsp;sat at&nbsp;the bar or&nbsp;c&nbsp;ommunal. If&nbsp;you prefer a&nbsp;table, please
        call or&nbsp;make a&nbsp;note and we&nbsp;will do&nbsp;our bes t&nbsp;to&nbsp;accommodate your request.</p>
<div class="reservation-flower">
  <div class="flower"></div>
</div>

    </div>
  </div>
</section>
