<header class="header header--secondary">
  <div class="container header__container">
    <div class="header-logo">
      <h1 class="header-logo__title">burrito</h1>
      <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
      <span class="header-logo__subtitle">chilebar</span>
    </div>

    <nav class="nav header__nav" title="">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">main</a></li>
        <li class="nav__item"><a href="#" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">menu</a></li>
        <li class="nav__item"><a href="#" class="nav__link">happy-hours     </a></li>
        <li class="nav__item"><a href="#" class="nav__link">order</a></li>
      </ul>
    </nav>
  </div>
</header>
