<div class="section hero">
  <div class="hero__container container">
    <div class="hero__content">
      <div class="hero__logo">
        <img src="img/logo.png" alt="logo">
      </div>
      <div class="hero__title">Burrito</div>
      <div class="hero__decor">
        <img src="img/decor.png" alt="chilebar">
      </div>
      <div class="hero__subtitle">chilebar</div>
    </div>
    <ul class="hero__nav list-reset">
      <li class="hero__nav--left"><img src="img/left.gif" alt=""></li>
      <li class="hero__nav--right"><img src="img/right.gif" alt=""></li>
    </ul>
  </div>
</div>
