<section class="info-fourth info">
  <div class="container">
    <div class="info__content">
      <ul class="list-reset info__list">
        <li class="info__item wow animate__fadeInLeft" data-wow-offset="300" data-wow-delay=".1s">
          <div class="info__subtitle">50% discount every Sunday!</div>

          <div class="info__decor wow animate__pulse" data-wow-offset="100">
            <div class="flower"></div>
          </div>
          <div class="info__title">Sunday with teguila</div>
          <div class="info__text">
            <p class="">Burrito - this is a chili bar in the heart
              of Tijuana, decorated &nbsp;in a kitschy style
              with bright colors and a hot atmosphere.
              It embodies an &nbsp;original &nbsp; culture
              Mexico. &nbsp;Visitorswillfeel as if
              they are in &nbsp;hell and;heaven
              at &nbsp;the ;same &nbsp;time</p>
          </div>

        </li>
        <li class="info__item wow animate__fadeInRight" data-wow-offset="300" data-wow-delay=".1s">
          <div class="info__img info__img--fourth"></div>
        </li>
      </ul>
    </div>
  </div>
</section>


