<section class="info-first info">
  <div class="container">
    <div class="info__content">
      <ul class="list-reset info__list">
        <li class="info__item">
          <div class="info__title">Burrito ChileBar</div>
          <div class="info__text">
            <p class="">Burrito - this is a chili bar in the heart
              of Tijuana, decorated &nbsp;in a kitschy style
              with bright colors and a hot atmosphere.
              It embodies an &nbsp;original &nbsp; culture
              Mexico. &nbsp;Visitorswillfeel as if
              they are in &nbsp;hell and;heaven
              at &nbsp;the ;same &nbsp;time</p>
          </div>
          <div class="info__decor wow animate__pulse" data-wow-offset="200">
            <div class="flower"></div>
          </div>
        </li>
        <li class="info__item">
          <div class="info__img info__img--first"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
