<section class="info-second info">
  <div class="container">
    <div class="info__content">
      <ul class="list-reset info__list">
        <li class="info__item">
          <div class="info__subtitle">The most profitable deals with us</div>
          <div class="info__title">Happy Hours</div>
          <div class="info__text">
        <p class="">Burrito - this is a chili bar in the heart
              of Tijuana, decorated &nbsp;in a kitschy style
              with bright colors and a hot atmosphere.
              It embodies an &nbsp;original &nbsp; culture
              Mexico. &nbsp;Visitorswillfeel as if
              they are in &nbsp;hell and;heaven
              at &nbsp;the ;same &nbsp;time</p>


  </div>


        </li>
        <li class="info__item">
          <div class="info__img info__img--second"></div>
        </li>
      </ul>



    </div>
  </div>
</section>



