<section class="info-second info">
  <div class="container">
    <div class="info-fourth__content info__content">
      <div class="info-text">
        <div class="info-text__pretitle">50% discount every Sunday!</div>
        <div class="info-text__decor">
          <div class="flower"></div>
        </div>
        <div class="info-text__title">Sunday with teguila</div>

        <p class="info-text__descr">Burrito - this is a chili bar in the heart
          of Tijuana, decorated &nbsp;in a kitschy style
          with bright colors and a hot atmosphere.
          It embodies an &nbsp;original &nbsp; culture
          Mexico. &nbsp;Visitorswillfeel as if
          they are in &nbsp;hell and;heaven
          at &nbsp;the ;same &nbsp;time</p>

      </div>
      <div class="info__image info__image--fourth"></div>

    </div>
  </div>
</section>
