<section class="info-first info">
  <div class="container">
    <div class="info-third__content info__content">
      <div class="info-text info-text--third">
        <div class="info-text__pretitle">The most profitable deals with us</div>
        <div class="info-text__title">Music Time
        </div>
        <div class="info-text__decor">
          <div class="flower"></div>
        </div>
        <p class="info-text__descr">Burrito - this is a chili bar in the heart
          of Tijuana, decorated &nbsp;in a kitschy style
          with bright colors and a hot atmosphere.
          It embodies an &nbsp;original &nbsp; culture
          Mexico. &nbsp;Visitorswillfeel as if
          they are in &nbsp;hell and;heaven
          at &nbsp;the ;same &nbsp;time</p>

      </div>
      <div class="info__image info__image--third"></div>

    </div>
  </div>
</section>
