<section class="menu">
  <div class="container menu__container">
    <h2 class="menu__title">Appetizers</h2>
    <div class="menu__content">
      <div class="menu-content-image">
        <img src="img/tapas.png" alt="tapas with bacon">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title"><span>Tapas with bacon</span>&nbsp;<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">order</button>
        <div class="add-plus add-plus--none">
          <div class="add-plus__minus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M5 11a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H5Z"></path>
                </svg></span>
            </button>
          </div>
          <input type="text" class="add-plus__input" value="1">
          <!--<span class="add-plus__quantity" data-id="1" data-value="1">1 шт.</span>-->
          <div class="add-plus__plus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M12 4a1 1 0 0 0-1 1v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5a1 1 0 0 0-1-1Z">
                  </path>
                </svg>

              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__content">
      <div class="menu-content-image">
        <img src="img/salat.png" alt="mexican salad">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title"><span>Mexican salad</span>&nbsp;<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">order</button>
        <div class="add-plus add-plus--none">
          <div class="add-plus__minus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M5 11a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H5Z"></path>
                </svg></span>
            </button>
          </div>
          <input type="text" class="add-plus__input" value="1">
          <div class="add-plus__plus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M12 4a1 1 0 0 0-1 1v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5a1 1 0 0 0-1-1Z">
                  </path>
                </svg>

              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__content">
      <div class="menu-content-image">
        <img src="img/seviche.png" alt="seafood ceviche">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title"><span>Seafood ceviche</span>&nbsp;<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">oder</button>
        <div class="add-plus add-plus--none">
          <div class="add-plus__minus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M5 11a1 1 0 1 0 0 2h14a1 1 0 1 0 0-2H5Z"></path>
                </svg></span>
            </button>
          </div>
          <input type="text" class="add-plus__input" value="1">
          <div class="add-plus__plus">
            <button tabindex="0" type="button" class="add-plus__btn">
              <span class="add-plus__svg" style="border-radius: 8px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path d="M12 4a1 1 0 0 0-1 1v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5a1 1 0 0 0-1-1Z">
                  </path>
                </svg>

              </span>
            </button>
          </div>
        </div>


      </div>
    </div>
    <nav class="header-menu-nav header-menu-nav--bottom" title="">

      <ul class="header-menu-nav__list list-reset">
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Appetizers</a></li>
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Main Dishes</a></li>
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Desserts</a></li>

      </ul>
    </nav>
    <hr width="50%">
</div>
</section>
