<section class="menu">
  <div class="container menu__container">
    <h2 class="menu__title">Appetizers</h2>
    <div class="menu__content">
      <div class="menu-content__image">
        <img src="img/tapas.png" alt="tapas with bacon">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title">Tapas with bacon<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">order</button>
      </div>
    </div>
    <div class="menu__content">
      <div class="menu-content__image">
        <img src="img/salat.png" alt="mexican salad">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title">Mexican salad<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">order</button>
      </div>
    </div>
    <div class="menu__content">
      <div class="menu-content__image">
        <img src="img/seviche.png" alt="seafood ceviche">
      </div>
      <div class="menu-content-text">
        <h3 class="menu-content-text__title">Seafood ceviche<span class="menu-content-text__value">10 $</span></h3>
        <p class="menu-content-text__components">Dates, bacon, cheese, lemon</p>
        <div class="menu-content-text__calories">350 Kk</div>
        <div class="menu-content-text__weight">400 g</div>
        <button class="btn-reset btn btn--order menu-content-text__btn">order</button>

      </div>
    </div>
    <nav class="header-menu-nav header-menu-nav--bottom" title="">

      <ul class="header-menu-nav__list list-reset">
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Appetizers</a></li>
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Main Dishes</a></li>
        <li class="header-menu-nav__item"><a href="#" class="nav__link">Desserts</a></li>

      </ul>
    </nav>
<div class="menu-block-btn">
  <button class="btn btn-reset menu__btn btn--stroke">Order for Pick-up</button>

  <button class="btn btn-reset menu__btn btn--stroke">Order for Delivery</button>
</div>
<hr width="50%">






  </div>
</section>
