<section class="menu-dop">
  <div class="container menu-dop__container">
    <div class="menu-dop__left">
      <nav class="header-menu-nav menu-dop__header" title="">
        <ul class="header-menu-nav__list list-reset">
          <li class="header-menu-nav__item"><a href="#" class="nav__link">Extras</a></li>
          <li class="header-menu-nav__item"><a href="#" class="nav__link">Beverages</a></li>
        </ul>
      </nav>
      <ul class="list-reset menu-dop__list">

      </ul>
    </div>





  </div>
  <div class="menu-block-btn">
    <button class="btn btn-reset menu__btn btn--stroke" title="самовывоз">Order for Pick-up</button>

    <button class="btn btn-reset menu__btn btn--stroke" title="доставка">Order for Delivery</button>
  </div>

</section>
