<section class="menu-dop">
  <div class="container menu-dop__container">
    <div class="menu-dop__left">
      <nav class="header-menu-nav menu-dop__header" title="">
        <ul class="header-menu-nav__list list-reset">
          <li class="header-menu-nav__item"><a href="#" class="nav__link">Extras</a></li>
          <li class="header-menu-nav__item"><a href="#" class="nav__link">Beverages</a></li>
        </ul>
      </nav>
      <ul class="list-reset menu-dop__list">
        <!--<li class="menu-dop__item">
          <div class="menu-dop__top">
            <div class="menu-dop__name-wrap">
              <div class="menu-dop__name">Pistachios</div>
            </div>

            <div class="quantity">
              <input class="extras" type="number" min="1" max="9" step="1" value="0">
            </div>
          </div>
          <div class="menu-dop__value"><span class="value" data-price="23">23<span>  €</span></div>
        </li>
        <li class="menu-dop__item">
          <div class="menu-dop__top">
            <div class="menu-dop__name-wrap">
              <div class="menu-dop__name">chips</div>
            </div>

            <div class="quantity">
              <input  class="extras" type="number" min="1" max="9" step="1" value="0">
            </div>
          </div>
          <div class="menu-dop__value"><span class="value" data-price="2">2<span>  €</span></div>
        </li>
        <li class="menu-dop__item">
          <div class="menu-dop__top">
            <div class="menu-dop__name-wrap">
            <div class="menu-dop__name">nachos</div>
          </div>
            <div class="quantity">
              <input  class="extras" type="number" min="1" max="9" step="1" value="0">
            </div>
          </div>
          <div class="menu-dop__value"><span class="value" data-price="3">3<span>  €</span></div>
        </li>
        <li class="menu-dop__item">
          <div class="menu-dop__top">
            <div class="menu-dop__name-wrap">
            <div class="menu-dop__name">guacamole</div>
          </div>
            <div class="quantity">
              <input  class="extras" type="number" min="1" max="9" step="1" value="0">
            </div>
          </div>
          <div class="menu-dop__value"><span class="value" data-price="1">11<span>  €</span></div>
        </li>
        <li class="menu-dop__item">
          <div class="menu-dop__top">
            <div class="menu-dop__name-wrap">
            <div class="menu-dop__name">peanut</div>
          </div>
            <div class="quantity">
              <input  class="extras" type="number" min="1" max="9" step="1" value="0">
            </div>
          </div>
          <div class="menu-dop__value"><span class="value" data-price="3.3">11<span>  €</span></div>
        </li>-->
      </ul>
    </div>
    <div class="menu-dop__right">
      <div class="summ-wrap">
        <span class="summ" data-nights="55" data-guests="25">100</span>
        <span>&ensp;€</span>
      </div>
    </div>



  </div>
</section>
