<div class="graph-modal">
	<div class="graph-modal__container modal-first" role="dialog" aria-modal="true" data-graph-target="modal-first">
		<button class="btn-reset graph-modal__close js-modal-close" aria-label="Закрыть модальное окно"></button>
		<div class="graph-modal-content">
      <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper my-swiper modalSwiper2">
        <div class="my-swiper-wrapper swiper-wrapper">
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-1.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-2.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-3.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-4.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-5.jpg" />
          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div thumbsSlider="" class="my-swiper swiper modalSwiper">
        <div class="my-swiper-wrapper swiper-wrapper">
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-1.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-2.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-3.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-4.jpg" />
          </div>
          <div class="my-swiper-slide swiper-slide">
            <img src="/img/modal-slide-5.jpg" />
          </div>



        </div>
      </div>

      <!-- Swiper JS -->

     <script>


      </script>

      <!-- Initialize Swiper -->

      </div>
  </div>
</div>
