<section class="cart">
  <div class="container">
   <ul class="cart__list list-reset">
    <li class="cart-item">
      <article class="cart-item__img">
        <img src="img/seviche.png" alt="">
        <a href="#" class="cart-item__remove">x</a>
      </article>
      <article class="cart-item__content">

          <a href="#" class="cart-item__title">Seviche</a>

        <span class="cart-item__weight cart-item__txt">weight: 300 g</span>
        <div class="cart-item__quantity cart-item__txt">quantity: <span>2</span></div>
        <span class="cart-item__price cart-item__txt">Price: <span>20 €</span></span>
      </article>
    </li>
   </ul>
   <div class="cart-result">
<h2 class="cart-result__title">in total</h2>
<p class="cart-result__summ">summary<span>54</span>€</p>
   </div>
  </div>
</section>
