<div id="content" class="site-content container">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="breadcrumb_dress">
        <div class="container">
          <nav class="woocommerce-breadcrumb"><a href="http://burrito-wc">Главная</a>&nbsp;/&nbsp;<a
              href="http://burrito-wc/product-category/clothing/">Clothing</a>&nbsp;/&nbsp;<a
              href="http://burrito-wc/product-category/clothing/accessories/">Accessories</a>&nbsp;/&nbsp;Mexican salad</nav>
        </div>
      </div>

<div class="single-section">
        <!--добавила свой класс menu__content-->
        <div class="container">
          <div class="woocommerce-notices-wrapper"></div>
          <div id="product-18" class="post-18 product type-product status-publish has-post-thumbnail product_cat-accessories first instock sale shipping-taxable purchasable product-type-simple">

            <div class="menu-content-image single-left">

              <!--<span class="onsale">Распродажа!</span>-->
              <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images"
                data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;">
                <figure class="woocommerce-product-gallery__wrapper">
                  <img src="img/salat.png" alt="mexican salad">
                </figure>
              </div>
            </div>
            <div class="menu-content-text single-right">

              <div class="summary entry-summary">

                <h1 class="product_title entry-title">Mexican salad</h1>
                <p class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span
                          class="woocommerce-Price-currencySymbol">$</span>20.00</bdi></span></del> <ins><span
                      class="woocommerce-Price-amount amount"><bdi><span
                          class="woocommerce-Price-currencySymbol">$</span>18.00</bdi></span></ins></p>
                <div class="woocommerce-product-details__short-description">
                  <p>Dates, bacon, cheese, lemon</p>
                </div>


                <form class="cart" method="post" enctype="multipart/form-data">
                  <!--<div class="quantity">
                    <label class="screen-reader-text" for="quantity_65142ad4eee51">Количество товара Beanie</label>
                    <input type="number" id="quantity_65142ad4eee51" class="input-text qty text" name="quantity"
                      value="1" aria-label="Количество товара" size="4" min="1" max="" step="1" placeholder=""
                      inputmode="numeric" autocomplete="off">
                  </div>-->

                  <button type="submit" name="add-to-cart" value="18" class="single_add_to_cart_button button alt">В
                    корзину</button>

                </form>


                <!--<div class="product_meta">



                  <span class="sku_wrapper">Артикул: <span class="sku">woo-beanie</span></span>


                  <span class="posted_in">Категория: <a href="http://burrito-wc/product-category/clothing/accessories/"
                      rel="tag">Accessories</a></span>


                </div>-->


              </div><!-- .summary -->

              <!---->

            </div><!-- #product-18 -->

          </div>
        </div>


      </div>
    </main><!-- #main -->
  </div><!-- #primary -->



</div>
