<div class="section hero">
  <div class="swiper mainSlider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../img/slide-6.jpg);">
        <div class="swiper-slide__content wow animate__fadeIn" data-wow-duration="2s">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>

        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../img/slide-1.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>

        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../img/slide-2.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>

        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../img/slide-3.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>

        </div>
      </div>

      <div class="swiper-slide" style="background-image: url(../img/slide-4.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../img/slide-5.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../img/slide-1.jpg);">
        <div class="swiper-slide__content">
          <div class="swiper-slide__logo">
            <img src="img/logo.svg" alt="logo" >
          </div>
          <div class="swiper-slide__title">Burrito</div>
          <div class="swiper-slide__decor">
            <img class="header-logo__decor" src="img/decor.svg" alt="burrito">
          </div>
          <div class="swiper-slide__subtitle">chilebar</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__container container">
    <ul class="hero__nav list-reset">
      <li class="hero__nav--left"><img src="img/left.svg" alt=""></li>
      <li class="hero__nav--right"><img src="img/right.svg" alt=""></li>
    </ul>
    <div class="down-wrap">
      <a href="#" class="down">
        <svg class="animate__animated animate__fadeInDown animate__infinite animate__slower"><use xlink:href="img/sprite.svg#arrows-down"></use></svg>
      </a>
    </div>
  </div>
</div>





<!-- Swiper -->


<!-- Swiper JS -->


<!-- Initialize Swiper -->
