<div class="menu">
  <div class="container menu__container">

<div class="menu-content">
<header class="woocommerce-products-header">
    <h1 class="woocommerce-products-header__title page-title menu__title">menu</h1>
  <div class="desc">
    <div class="description">
        </div>
</div>
</header>
<div class="woocommerce-notices-wrapper"></div><p class="woocommerce-result-count">
Представлено 9 товаров</p>
<form class="woocommerce-ordering" method="get">
<select name="orderby" class="orderby" aria-label="Заказ в магазине">
        <option value="menu_order" selected="selected">Исходная сортировка</option>
        <option value="popularity">По популярности</option>
        <option value="rating">По рейтингу</option>
        <option value="date">По новизне</option>
        <option value="price">Цены: по возрастанию</option>
        <option value="price-desc">Цены: по убыванию</option>
    </select>
<input type="hidden" name="paged" value="1">
</form>
<ul class="products">
<li class="product type-product post-18 status-publish first instock product_cat-accessories has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/beanie/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
<span class="onsale">Распродажа!</span>
<img src="img/salat.png" alt="">
<h2 class="woocommerce-loop-product__title">Beanie</h2>
<span class="price"><del aria-hidden="true">
  <span class="woocommerce-Price-amount amount">
    <bdi><span class="woocommerce-Price-currencySymbol">$</span>20.00</bdi></span>
  </del> <ins><span class="woocommerce-Price-amount amount"><bdi>
    <span class="woocommerce-Price-currencySymbol">$</span>18.00</bdi></span>
  </ins></span>
</a>
<a href="?add-to-cart=18" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="18" data-product_sku="woo-beanie" aria-label="Добавить «Beanie» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-31 status-publish instock product_cat-accessories has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/belt/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
<span class="onsale">Распродажа!</span>
<img src="img/salat.png" alt="">
 <h2 class="woocommerce-loop-product__title">Belt</h2>
<span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>65.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>55.00</bdi></span></ins></span>
</a><a href="?add-to-cart=31" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="31" data-product_sku="woo-belt" aria-label="Добавить «Belt» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-33 status-publish instock product_cat-accessories has-post-thumbnail sale featured shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/cap/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
<span class="onsale">Распродажа!</span>
<img src="img/salat.png" alt="">
 <h2 class="woocommerce-loop-product__title">Cap</h2>
<span class="price"><del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>18.00</bdi></span></del> <ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>16.00</bdi></span></ins></span>
</a><a href="?add-to-cart=33" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="33" data-product_sku="woo-cap" aria-label="Добавить «Cap» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-27 status-publish last outofstock product_cat-hoodies has-post-thumbnail shipping-taxable product-type-variable">
<a href="http://burrito-wc/product/hoodie/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> hoodie-2-300x300.jpg"   /hoodie-2-300x300.jpg 300w, http://burrito-wc/wp-content/uploads/2023/09/hoodie-2-150x150.jpg 150w, http://burrito-wc/wp-content/uploads/2023/09/hoodie-2-768x768.jpg 768w, http://burrito-wc/wp-content/uploads/2023/09/hoodie-2-600x600.jpg 600w, http://burrito-wc/wp-content/uploads/2023/09/hoodie-2-100x100.jpg 100w, http://burrito-wc/wp-content/uploads/2023/09/hoodie-2.jpg 801w" sizes="(max-width: 300px) 100vw, 300px"><h2 class="woocommerce-loop-product__title">Hoodie</h2>
</a><a href="http://burrito-wc/product/hoodie/" data-quantity="1" class="button product_type_variable" data-product_id="27" data-product_sku="woo-hoodie" aria-label="Выберите опции для “Hoodie”" aria-describedby="" rel="nofollow">Подробнее</a></li>
<li class="product type-product post-37 status-publish first instock product_cat-tshirts has-post-thumbnail shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/polo/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> chef-7-300x300.png"   /chef-7-300x300.png 300w, http://burrito-wc/wp-content/uploads/2023/09/chef-7-150x150.png 150w, http://burrito-wc/wp-content/uploads/2023/09/chef-7-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"><h2 class="woocommerce-loop-product__title">Polo</h2>
<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>20.00</bdi></span></span>
</a><a href="?add-to-cart=37" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="37" data-product_sku="woo-polo" aria-label="Добавить «Polo» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-41 status-publish instock product_cat-clothing has-post-thumbnail sale shipping-taxable product-type-grouped">
<a href="http://burrito-wc/product/logo-collection/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
<span class="onsale">Распродажа!</span>
<img src="img/salat.png" alt="">
<h2 class="woocommerce-loop-product__title">product-1</h2>
<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>18.00</bdi></span></span>
</a><a href="http://burrito-wc/product/logo-collection/" data-quantity="1" class="button product_type_grouped" data-product_id="41" data-product_sku="logo-collection" aria-label="Просмотреть товары в группе «product-1»" aria-describedby="" rel="nofollow">Просмотр товара</a></li>
<li class="product type-product post-35 status-publish instock product_cat-accessories has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/sunglasses/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> sunglasses-2-300x300.jpg"   /sunglasses-2-300x300.jpg 300w, http://burrito-wc/wp-content/uploads/2023/09/sunglasses-2-150x150.jpg 150w, http://burrito-wc/wp-content/uploads/2023/09/sunglasses-2-768x768.jpg 768w, http://burrito-wc/wp-content/uploads/2023/09/sunglasses-2-600x600.jpg 600w, http://burrito-wc/wp-content/uploads/2023/09/sunglasses-2-100x100.jpg 100w, http://burrito-wc/wp-content/uploads/2023/09/sunglasses-2.jpg 801w" sizes="(max-width: 300px) 100vw, 300px"><h2 class="woocommerce-loop-product__title">Sunglasses</h2>
<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>90.00</bdi></span></span>
</a><a href="?add-to-cart=35" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="35" data-product_sku="woo-sunglasses" aria-label="Добавить «Sunglasses» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-17 status-publish last instock product_cat-tshirts has-post-thumbnail shipping-taxable purchasable product-type-simple">
<a href="http://burrito-wc/product/t-shirt/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> tshirt-2-300x300.jpg"   /tshirt-2-300x300.jpg 300w, http://burrito-wc/wp-content/uploads/2023/09/tshirt-2-150x150.jpg 150w, http://burrito-wc/wp-content/uploads/2023/09/tshirt-2-768x768.jpg 768w, http://burrito-wc/wp-content/uploads/2023/09/tshirt-2-600x600.jpg 600w, http://burrito-wc/wp-content/uploads/2023/09/tshirt-2-100x100.jpg 100w, http://burrito-wc/wp-content/uploads/2023/09/tshirt-2.jpg 801w" sizes="(max-width: 300px) 100vw, 300px"><h2 class="woocommerce-loop-product__title">T-Shirt</h2>
<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>18.00</bdi></span></span>
</a><a href="?add-to-cart=17" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="17" data-product_sku="woo-tshirt" aria-label="Добавить «T-Shirt» в корзину" aria-describedby="" rel="nofollow">В корзину</a></li>
<li class="product type-product post-22 status-publish first outofstock product_cat-tshirts has-post-thumbnail featured shipping-taxable product-type-variable">
<a href="http://burrito-wc/product/v-neck-t-shirt/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> vneck-tee-2-300x300.jpg"   /vneck-tee-2-300x300.jpg 300w, http://burrito-wc/wp-content/uploads/2023/09/vneck-tee-2-150x150.jpg 150w, http://burrito-wc/wp-content/uploads/2023/09/vneck-tee-2-768x767.jpg 768w, http://burrito-wc/wp-content/uploads/2023/09/vneck-tee-2-600x599.jpg 600w, http://burrito-wc/wp-content/uploads/2023/09/vneck-tee-2-100x100.jpg 100w, http://burrito-wc/wp-content/uploads/2023/09/vneck-tee-2.jpg 801w" sizes="(max-width: 300px) 100vw, 300px"><h2 class="woocommerce-loop-product__title">V-Neck T-Shirt</h2>
</a><a href="http://burrito-wc/product/v-neck-t-shirt/" data-quantity="1" class="button product_type_variable" data-product_id="22" data-product_sku="woo-vneck-tee" aria-label="Выберите опции для “V-Neck T-Shirt”" aria-describedby="" rel="nofollow">Подробнее</a></li>
</ul>
</div></div></div>
