// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base

  // colors
  --light-color: #fff;
  --gray-color: rgba(36, 50, 55, 1);
  --gray-light-color: rgba(56, 60, 56, 0.76);
}
